:root {
    --cor-de-fundo: #9049B4;
    --cor-cabecalho: #FFFFFF;
}

body {
    background-color: var(--cor-de-fundo);
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    background: var(--cor-cabecalho);
    padding: 15px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid #ccc;
    width: 100%;
}

.logo-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo-container img {
    height: 40px;
}

.titulo {
    font-size: 20px;
    font-weight: bold;
    color: black;
}

.frase {
    font-size: 14px;
    font-style: italic;
    color: black;
    text-align: right;
    flex-grow: 1;
}

